body{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url('./images/background.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
    margin-bottom: 20px;
    margin-top: 35px;
}
.pickamusclecontainer{
    display:flex;
    flex-direction: column;
}
#muscleDiv{
    display:flex;
    flex-direction: row;
    padding: 5px;
}
.muscleslist{
    display: flex;
    flex-direction: column;
}
.exercisecontainer{
    border:2px solid black;
    height: 500px;
    width: 500px;
    margin: 40px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}
#exercise{
    width: 80%;
}
#muscle-background{
    height: 370px;
    width: 200px;
}